/*------------------------------
3.7 About
------------------------------*/
.about {
    a {
        color: #007bff;
        &:hover {
            text-decoration:underline;
        }
    }
}
/* 3.7.1 略歴
------------------------------*/
.bio {
    padding: 0 0 70px;
    @media only screen and (max-width: 768px) {
        padding: 0 0 35px;
    }
    h2 {
        &.top {
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 30px;
            text-align: center;
        }
    }
    h3 {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial",
            "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
            sans-serif;
        font-weight: 300;
        line-height: 1.2;
        font-size: 30px;
        margin-bottom: 15px;
        @media only screen and (max-width: 699px) {
            font-size: 24px;
        }
    }
    p {
        font-size: 14px;
        line-height: 22.4px;
        color: #6c7279;
        margin-bottom: 15px;
    }
    .about_frame {
        width: 90%;
        margin: 0 auto;
        @media only screen and (max-width: 480px) {
            width: 100%;
        }
    }
    dl {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px rgba(200, 200, 200, 0.5) dashed;
        @media only screen and (max-width: 480px) {
            display: block;
            border-bottom: initial;
        }
        dt {
            width: 30%;
            text-align: right;
            padding: 1em 3em 1em 1em;
            line-height: 1.6;
            font-size: 15px;
            font-weight: 500;
            margin-right: 0px;
            border-top: 1px rgba(200, 200, 200, 0.5) dashed;
            @media only screen and (max-width: 480px) {
                width: 100%;
                text-align: left;
                padding: 1.5em 0 0.3em;
                border-bottom: 1px #ddd solid;
                border-top: initial;
            }
        }
        dd {
            width: 70%;
            padding: 1em 1em 1em 1em;
            font-size: 15px;
            line-height: 1.6;
            border-top: 1px rgba(200, 200, 200, 0.5) dashed;
            @media only screen and (max-width: 480px) {
                width: 100%;
                padding: 0.3em 0em 0em 0em;
                border-top: initial;
            }
        }
    }
    @media only screen and (max-width: 480px) {
        dl {
            ul {
                padding-left: 10px;
            }
        }
    }
}

/* 3.7.2 CODING POLICY / SMART PHONE
------------------------------*/
.Policy,.smartphone {
    padding: 0 0 70px;
    @media only screen and (max-width: 768px) {
        padding: 0 0 35px;
    }
    @media only screen and (max-width: 480px) {
        padding: 10px 0;
    }
}
.frame {
    width: 90%;
    margin: 0 auto;
    @media only screen and (max-width: 480px) {
        width: 100%;
    }
    .section-title {
        @media only screen and (max-width: 699px) {
            margin-top: 20px;
        }
        h2 {
            @media only screen and (max-width: 699px) {
                padding-bottom: 0;
                margin-bottom: 0;
                font-size: 35px;
            }
        }
    }
    p {
        font-size: 14px;
        line-height: 22.4px;
        color: #6c7279;
        margin: 0 0 15px;
    }
    .aboutUs {
        h3 {
            margin: 50px 0 30px;
            font-size: 24px;
            letter-spacing: 0.12em;
            text-align: center;
            @media only screen and (max-width: 699px) {
                padding: 25px 0 0;
                font-size: 20px;
                margin: 0 0 10px;
            }
        }
        h4 {
            font-size: 16px;
            line-height: 150%;
        }
        li {
            margin-bottom: 10px;
            padding-left: 1em;
            font-size: 15px;
            line-height: 1.75;
            @media only screen and (max-width: 699px) {
                padding: 0;
            }
        }
    }
}
.smartphone {
    ul {
        margin: 10px 0 0 40px;
        @media only screen and (max-width: 480px) {
            margin: 10px 0 0 25px;
        }
    }
    li {
        list-style: disc;
    }
}
.Policy {
    .dl-horizontal {
        display: flex;
        flex-wrap: wrap;
        @media only screen and (max-width: 480px) {
            display: block;
        }
        dt {
            width: 30%;
            padding: 2em 2em 1em 2em;
            line-height: 1.6;
            font-size: 15px;
            text-align: center;
            font-weight: 500;
            margin-right: 0px;
            border-top: 1px rgba(200, 200, 200, 0.5) solid;
            @media only screen and (max-width: 480px) {
                width: 100%;
                text-align: left;
                padding: 1.5em 0 0.3em;
                border-top: 0;
                margin-left: 0px;
            }
        }
        dd {
            width: 70%;
            padding: 1em 1em 1em 1em;
            font-size: 15px;
            line-height: 1.6;
            border-top: 1px rgba(200, 200, 200, 0.5) solid;
            @media only screen and (max-width: 480px) {
                width: 100%;
                padding: 0.3em 0em 0em 1.5em;
                margin-left: 0px;
            }
        }
    }
    li {
        list-style: disc;
    }
    ul.environment {
        @media only screen and (max-width: 480px) {
            padding-left: 0;
        }
        li {
            list-style: none;
            dl {
                display: flex;
                flex-wrap: wrap;
            }
            dt {
                font-weight: normal;
                @media only screen and (max-width: 480px) {
                    width: 100%;
                    padding-bottom: 10px;
                }

            }
            dd:after {
                content: "/";
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                vertical-align: middle;
                margin: 0 10px;
            }
            dd:last-child:after {
                content: none;
            }
        }
    }
    .browser {
        @media only screen and (max-width: 480px) {
            ul {
                margin-left: 15px;
            }
        }
    }
}