/*------------------------------
3.6 front-page
------------------------------*/

/* 3.6.1 jumbotron
------------------------------*/
.jumbotron {
    margin-top: 200px;
    background-image: url("../img/img_main_1.jpg");
    background-size: cover;
    background-position: center 20%;
    color: #fff;
    padding: 50px;
    .text-slides {
        max-width: 66.6%;
        margin: 0 auto;
        blockquote {
            border-style: none;
            padding: 50px;
            h2 {
                font-size: 40px;
                line-height: 200%;
                text-align: center;
                color: #fff;
                @media screen and (max-width: 767px) {
                    font-size: 25px;
                }
            }
            p {
                line-height: 200%;
                color: #fff;
            }
        }
    }
}
/* iPadPro */
@media screen and (max-width: 1112px) {
    .jumbotron {
        .text-slides {
            max-width: 95%;
            blockquote {
                padding: 0;
            }
        }
    }
}
/* jumbotron width-1024px以下
------------------------------*/
@media only screen and (max-width: 1024px) {
    .jumbotron {
        margin-top: 100px;
        background-position: 75%;
        padding: 30px 10px;
    }
}
/* iPad */
@media only screen and (max-width: 768px) {
    .jumbotron {
        blockquote {
            padding: 0;
        }
    }
}
/* jumbotron width-767px以下
------------------------------*/
@media only screen and (max-width: 767px) {
    .jumbotron {
        background-position: 75%;
        padding: 10px 10px;
        margin: 100px 0 10px;
        blockquote {
            padding: 0px;
            margin-bottom: 0;
            h2 {
                font-size: 25px;
            }
            p {
                font-size: 13px;
            }
        }
        .flexslider {
            padding-bottom: 20px;
        }
    }
}

/* 3.6.2 PRINCIPLE and WORKS / About me
------------------------------*/
.section-title {
    h2 {
        font-size: 50px;
        color: #b3b3bb;
        font-weight: 900;
        position: relative;
        margin: 0 0 15px 0;
        padding-bottom: 15px;
        text-align: center;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        &:after {
            left: 50%;
            z-index: 1;
            width: 60px;
            height: 3px;
            content: " ";
            bottom: -5px;
            margin-left: -30px;
            text-align: center;
            position: absolute;
        }
    }
    span {
        display: block;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.2em;
    }
}

/* 更に詳しくボタン */
.moreDetail {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}
.more_btn {
    display: inline-block;
    border: solid 1px #333;
    transition: 0.4s;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #333;
    &:hover {
        background: #6c757d;
        color: white;
        border-color: #6c757d;
        text-decoration: none !important;
    }
}

/* 3.6.3 PRINCIPLE 方針・コンセプト
------------------------------*/
.principle {
    padding: 50px 0;
    .items_three {
        width: 33%;
        float: left;
        padding: 0 15px;
        .point-circle {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            font-size: 62px;
            line-height: 105px;
            color: #fff;
            border-radius: 100%;
            text-align: center;
            i {
                position: relative;
                top: 30%;
                transform: translateY(-50%);
            }
            &.building {
                background-color: #4caf50;
            }
            &.display {
                background-color: #ff9800;
                padding: 10px;
            }
            &.wp_mark {
                background-color: #0085ba;
            }
        }
        h3.point-title {
            font-size: 22px;
            font-weight: 300;
            letter-spacing: 0.4px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            span.small {
                font-size: 65%;
                color: #777
            }
        }
        .point-description {
            font-size: 14px;
            line-height: 22.4px;
            text-align: justify;
            color: #000;
            padding: 0 15px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .principle {
        .items_three {
            position: relative;
            width: 100%;
            min-height: 1px;
            padding: 0 0 15px;
            .point-frame {
                width: 30%;
                float: left;
            }
            .point-description {
                width: 70%;
                float: right;
                padding: 0;
            }
            h3.point-title {
                font-size: 18px;
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width: 414px) {
    .principle {
        .items_three {
            .point-frame {
                width: 100%;
                float: none;
            }
            .point-description {
                width: 100%;
            }
        }
    }
}

/* 3.6.4 WORKS
------------------------------*/
.front-works {
    margin-top: 100px;
    p {
        color: #262423;
        text-align: left;
        font-size: 15px;
        font-weight: 300;
        line-height: 31px;
        margin: 20px 100px 60px 100px;
    }
    .slider {
        width: 50%;
        margin: 100px auto;

    

        .slick-slide {
            margin: 0px 20px;
            transition: all ease-in-out .3s;

            
            img {
              width: 100%;
            }
          }
        .slick-prev {
            left: -45px;
        }
        .slick-next {
            right: -25px;
        }
        .slick-prev:before,
        .slick-next:before {
        color: black;
        font-size: 40px;
        }
        .slick-active {
        opacity: .5;
        }
        .slick-current {
        opacity: 1;
        }
        &.slick-dotted.slick-slider {
            margin-bottom: 60px;
        }
        .slick-dots {
            bottom: -45px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .front-works {
        margin-top: 30px;
        p {
            margin: 20px;
        }
        .slider {
            width: 80%;
            margin: 30px auto 40px;
            .slick-prev:before,
            .slick-next:before {
                font-size: 30px;
            }
            .slick-prev {
                left: -35px;
            }
            .slick-next {
                right: -25px;
            }
            &.slick-dotted.slick-slider {
                margin-bottom: 60px;
            }
            .slick-dots {
                bottom: -45px;
            }
        }
    }
}
@media only screen and (max-width: 414px) {
    .front-works {
        p {
            margin: 30px 0;
            font-size: 14px;
            line-height: 22.4px;
        }
        .slider {
            width: 90%;
            margin: 30px auto 40px;
            .slick-prev:before,
            .slick-next:before {
                font-size: 25px;
            }
            .slick-prev {
                left: -20px;
            }
            .slick-next {
                right: -15px;
            }
        }
    }
}