/*------------------------------
3.1 header
------------------------------*/
header {
    position: fixed;
    width: 100%;
    z-index: 999;

    li:hover {
        opacity: 0.5;
        filter: Alpha(opacity=50);
    }

    .header-content {
        margin: 0 auto;
        padding: 60px 10%;
        width: 100%;
        -moz-transition: padding 0.3s;
        -o-transition: padding 0.3s;
        -webkit-transition: padding 0.3s;
        transition: padding 0.3s;
    }

    .logo_pc {
        display: block;
    }

    .logo_sm {
        display: none;

        h1 {
            margin-top: 0;
        }
    }

    /* fixed 下にスライドする際のヘッダーの動き */
    /*
    .fixed {
        background-color: rgba(255, 255, 255, 0);

        .header-content {
            border-bottom: 0;
            padding: 25px 10%;
        }

        .nav-toggle {
            top: 18px;
        }
    }
*/
}

/*------------------------------
3.2 navi
------------------------------*/
/* navi */
.navigation {
    float: right;

    &.open {
        opacity: 0.9;
        visibility: visible;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }

    li {
        display: inline-block;
    }

    a {
        color: rgba(0, 0, 0, 1);
        font-size: 19px;
        font-weight: 700;
        margin-left: 40px;
        letter-spacing: -1px;

        &:hover,
        &.active {
            color: #000;
            text-decoration: none;
        }
    }
}

/* hamburger button */
.nav-toggle {
    display: none;
    height: 44px;
    overflow: hidden;
    position: fixed;
    right: 5%;
    text-indent: 100%;
    top: 32px;
    white-space: nowrap;
    width: 44px;
    z-index: 99999;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-toggle:before,
.nav-toggle:after {
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

.nav-toggle:before {
    background-color: #000;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.nav-toggle:after {
    background-color: #000;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

.nav-toggle span {
    background-color: #fff;
    bottom: auto;
    display: inline-block;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    width: 18px;
    z-index: 10;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.nav-toggle span:before,
.nav-toggle span:after {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.nav-toggle span:before {
    -moz-transform: translateY(-6px) rotate(0deg);
    -ms-transform: translateY(-6px) rotate(0deg);
    -webkit-transform: translateY(-6px) rotate(0deg);
    transform: translateY(-6px) rotate(0deg);
}

.nav-toggle span:after {
    -moz-transform: translateY(6px) rotate(0deg);
    -ms-transform: translateY(6px) rotate(0deg);
    -webkit-transform: translateY(6px) rotate(0deg);
    transform: translateY(6px) rotate(0deg);
}

.nav-toggle.close-nav:before {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.nav-toggle.close-nav:after {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.nav-toggle.close-nav span {
    background-color: rgba(255, 255, 255, 0);
}

.nav-toggle.close-nav span:before,
.nav-toggle.close-nav span:after {
    background-color: #fff;
}

.nav-toggle.close-nav span:before {
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.nav-toggle.close-nav span:after {
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

/* ヘッダー用 shareボタン */
ul.h_share_btn {
    display: none;
}

/* header width-1024px
------------------------------*/
@media screen and (max-width: 1024px) {
    header .header-content {
        width: 90%;
        padding: 10px 0;
    }

    header.fixed .header-content {
        padding: 17px 0;
    }

    .nav-toggle {
        display: block;
    }

    .navigation {
        position: fixed;
        background-color: #fff;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
        transition: opacity 0.5s, visibility 0s 0.5s;
    }

    .navigation .primary-nav {
        position: relative;
        top: 45%;
        -moz-transform: translateY(-45%);
        -ms-transform: translateY(-45%);
        -webkit-transform: translateY(-45%);
        transform: translateY(-45%);
    }

    .navigation li {
        display: block;
        margin-bottom: 20px;
    }

    .navigation a {
        display: block;
        font-size: 35px;
        margin: 0;
        text-align: center;
    }

    /* ヘッダー用 shareボタン */
    ul.h_share_btn {
        display: block;
        margin-top: 50px;
        text-align: center;
        padding-left: 0;
    }

    ul.h_share_btn li {
        display: inline-block;
        padding: 0 15px;
    }
}

/* Header width-768px
------------------------------*/
@media screen and (max-width: 768px) {
    header .header-content {
        padding: 10px 0%;
    }

    header.fixed .header-content {
        padding: 17px 0;
    }

    .navigation .primary-nav {
        padding-left: 0px;
    }
}

/* Header width-640px
------------------------------*/
@media screen and (max-width: 640px) {
    header .header-content {
        padding: 30px 0;
    }

    header.fixed .header-content {
        padding: 17px 0;
    }
}



/* Header width-480px
------------------------------*/
@media screen and (max-width: 480px) {
    header .header-content {
        padding: 30px 0;
    }

    header.fixed .header-content {
        padding: 17px 0;
    }

    header .logo_pc {
        display: none;
    }

    header .logo_sm {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    ul.h_share_btn li {
        display: inline-block;
        padding: 0 10px;
    }
}

/* Header width-320px
------------------------------*/
@media screen and (max-width: 320px) {
    header .header-content {
        padding: 30px 2%;
    }

    header.fixed .header-content {
        padding: 17px 0;
    }
}