/*------------------------------
3.1 header
------------------------------*/
header {
    position: fixed;
    width: 100%;
    z-index: 999;
    .header-content {
        margin: 0 auto;
        padding: 60px 10%;
        width: 100%;
        transition: padding 0.3s;
    }
    .logo_pc {
        display: block;
    }
    .logo_sm {
        display: none;
    }
    @media screen and (max-width: 1024px) {
        .header-content {
            width: 90%;
            padding: 25px 0;
        }
        &.fixed {
            .header-content {
                padding: 17px 0;
            }
        } 
    }
    @media screen and (max-width: 480px) {
        .header-content {
            padding: 30px 0;
        }
        h1 {
            margin-top: 0;
        }
        .logo_pc {
            display: none;
        }
        .logo_sm {
            display: block;
        }
    }
}

/*------------------------------
3.2 navi
------------------------------*/  
nav {
    position: relative;
    .size_pc {
        position: absolute;
        right: 0%;
        @media screen and (max-width: 1024px) {
            display: none;
        }
        li {
            display: inline-block;
            a {
                color: rgb(0, 0, 0);
                font-size: 19px;
                font-weight: 700;
                margin-left: 40px;
                &:hover,
                &.active {
                    opacity: 0.6; 
                }
            }
        }
    }
    .size_sm {
        #toggle-nav {
            display: none;
            &:checked {
                ~ .hamburger {
                    height: 28px;
                    div {
                        background-color: #000;
                        &:nth-of-type(1) {
                            margin-top: 6px;
                            transform: rotate(135deg);
                        }
                        &:nth-of-type(2) {
                            opacity: 0;
                        }
                        &:nth-of-type(3) {
                            margin-top: -12px;
                            transform: rotate(-135deg);
                        }
                    }
                }      
                 ~ .menu {
                    opacity: 1;
                    opacity: 0.9;
                    visibility: visible;
                }
            }
        }      
        .hamburger {
            cursor: pointer;
            position: fixed;
            z-index: 1020;
            top: 42px;
            right: 42px;
            width: 32px;
            height: 14px;
            margin: 0;
            padding: 0;
            display: none;
            div {
                position: relative;
                width: 100%;
                height: 2px;
                background-color: #000;
                transition: background-color .5s, transform .5s;
                &:nth-of-type(2) {
                    margin: 4px 0;
                }
            }
            @media screen and (max-width: 1024px) {
                display: block;
            }
            @media screen and (max-width: 480px) {
                right: 32px;
            }
        }      
        .menu {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1010;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: #FFF;  
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease-out;
            will-change: opacity, visibility;
            text-align: center;
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    margin-bottom: 20px;
                    font-size: 35px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    a {
                        color: #000;
                        text-decoration: none;
                        transition: all .3s;
                    }
                    &:hover,
                    &.active {
                        opacity:0.4;
                    }
                    ul.h_share_btn {
                            display: block;
                            margin-top: 50px;
                            text-align: center;
                            padding-left: 0;
                         li {
                            display: inline-block;
                            padding: 0 15px;
                            &:hover,
                            &.active {
                                opacity:1;
                            }
                        }
                    } 
                } 
            }
        }    
    }
}