/*--------------------------------------------------------------
3.0 Layout
----------------------------------------------------------------*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include max-screen($breakpoint-tablet) {
        //font-size: 18px;
    }

    @include max-screen($breakpoint-mobile) {
        //font-size: 16px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@import "_header.scss";
@import "_footer.scss";
@import "_page.scss";
@import "_front.scss";
@import "_about.scss";
@import "_contact.scss";
@import "_archive.scss";
@import "_single.scss";

/*--------------------------------------------------------------
9.0 Widgets ウィジェット
--------------------------------------------------------------*/
/* Recent Categories, Archive, Meta
------------------------------*/
/*--------------------------------------------------------------
10.0 Sections セクション
--------------------------------------------------------------*/
/* Section Stuffs
------------------------------*/
/* Section: Hero
------------------------------*/
/* Hero Text Style1. */
/* Section: About Us
------------------------------*/
/* Section: Counter
------------------------------*/
/* Section: Team
------------------------------*/
/* Section: News
------------------------------*/
/* Section: Contact
------------------------------*/

/*--------------------------------------------------------------
11.0 External Plugins 外部プラグイン
--------------------------------------------------------------*/