/*------------------------------
3.4 Contents / page.php
------------------------------*/
#mainArea {
    padding-top: 200px;
}

/*------------------------------
3.5 Page: 404
------------------------------*/
.area404 {
    padding-top: 200px;
    margin: 0 auto;
    min-height: 750px;
    margin-top: 50px;
    text-align: center;
    a {
        color: #007bff;
        text-decoration: none;
        &:hover {
            text-decoration:underline;
        }
    }
    @media screen and (max-width: 1112px) {
        padding-top: 300px;
        min-height: 1100px;
    }
    @media screen and (max-width: 768px) {
        padding-top: 200px;
        min-height: 800px;
        margin-top: 65px;
    }
    @media screen and (max-width: 414px) {
        padding-top: 100px;
        min-height: 525px;
    }
    @media screen and (max-width: 375px) {
        min-height: 450px;
    }
    @media screen and (max-width: 320px) {
        min-height: 300px;
        margin-top: 90px;
        padding-top: 50px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 30px;
        @media screen and (max-width: 1112px) {
            font-size: 45px;
            margin-bottom: 40px;
        }
        @media screen and (max-width: 768px) {
            font-size: 30px;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 414px) {
            font-size: 25px;
            padding: 0 10px;
        }
        @media screen and (max-width: 320px) {
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
    p {
        font-size: 16px;
        padding: 15px;
        @media screen and (max-width: 1112px) {
            font-size: 25px;
            padding: 30px;
        }
        @media screen and (max-width: 768px) {
            font-size: 20px;
            padding: 15px;
        }
        @media screen and (max-width: 414px) {
            font-size: 16px;
        }
        @media screen and (max-width: 320px) {
            margin-bottom: 0;
        }
    }
}