/*--------------------------------------------------------------
3.11 single
--------------------------------------------------------------*/
/*------------------------------
3.11.1 single-works
------------------------------*/
/* worksTitle
------------------------------*/
.worksTitle {
    text-align: center !important;
    padding: 120px 0px 0px;
    @media only screen and (min-width: 699px) {
        padding: 200px 80px 20px;
    }
    h2 {
        font-size: 24px;
        font-weight: 200;
        line-height: 1.6;
        letter-spacing: 0.12em;
        padding: 0 1px;
    }
    p {
        line-height: 1.6;
        font-family: "Spinnaker", sans-serif;
        font-weight: 400 !important;
        letter-spacing: 0.1em;
        -webkit-font-smoothing: subpixel-antialiased;
        a {
            color: #262423;
            text-decoration: none;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    .header_cat {
        font-size: 16px;
        margin-bottom: 0.5em;
    }
    .clientName {
        font-size: 18px;
        color: #777;
    }
    .heading-sub-en {
        margin-top: 5px;
        font-size: 13px;
        word-break: break-all;
        padding: 0 10px;
    }
}

/* Works-content 
------------------------------*/
.Works-content {
    margin: 10px 0;
    @media only screen and (min-width: 699px) {
        margin: 0 0 10px;
        max-width: 699px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .carousel {
        width: 100%;
        margin: auto;
        position: relative;
        overflow: hidden;
        img {
            display: block;
            max-width: 100%;
            height: auto;
            cursor: pointer;

            @media screen and (max-width: 480px) {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    /* イントラサイトの場合 */
    .intra {     
        img {
            opacity: 0.2;
        }
        .text {
            width: 100%;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            bottom: 10%;
            z-index: 10;
            text-align: center;            
            color: #6c7279;
            font-size: 25px;
            @media screen and (max-width: 480px) {
                font-size: 18px;
            }
        }
    }
    .works-slider {
        .slick-list{
            height: 600px;
            @media only screen and (max-width: 767px) {
                height: 500px;
            }
            @media only screen and (max-width: 480px) {
                height: 370px;
            }            
        }
        li {
            position: relative;
            text-align: center;
            .sitename {
                position: absolute;
                bottom: -9%;
                left: 50%;
                transform: translateX(-50%);
                font-size: 25px;
                color: #6c7279;
                width: 100%;
                &:hover {
                    opacity: 0.6;
                }
                @media only screen and (max-width: 767px) {
                    font-size: 18px;  
                }
            }
        }
        // インジケーター
        .slick-dots {
            bottom: -1%;
            left: 50%;
            transform: translateX(-50%);
            @media only screen and (max-width: 767px) {
                bottom: 4%; 
            }
            li {
                width: 40px;
                button:before {
                    font-size: 32px;
                    line-height: 48px;
                }
            }
        }
    }

}

/* Works-comment
------------------------------*/
.Works-comment {
    // max-width: 100%;
    max-width: 90%;
    margin: 0 auto;
    @media only screen and (min-width: 699px) {
        max-width: 700px;
        margin: 20px auto 0;
    }
    p {
        font-size: 14px;
        line-height: 22.4px;
        color: #6c7279;
        text-align: left;
    }
    dl {
        width: 100%;
        margin: 0 0 25px;
        text-align: center;
        letter-spacing: 0.1em;
    }
    .comment {
        margin-bottom: 20px;
        // padding: 0 15px;
        @media only screen and (min-width: 699px) {
            margin-bottom: 40px;
            padding: 0 15px;
        }
    }
    .dl-center {
        border: 0;
        text-align: center;
        dt {
            margin-bottom: 5px;
            font-weight: 400 !important;
            font-size: 15px;
        }
        dd {
            line-height: 1.7;
            font-weight: 400 !important;
            font-size: 15px;
            margin-bottom: 15px;
            word-break: break-all;
            padding: 0 10px;
            a {
                color: #262423;
                text-decoration: none;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}