@import "_reset.scss";

/*--------------------------------------------------------------
2.0 base
----------------------------------------------------------------*/
/* 2.1 Links
------------------------------*/
a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.col_3 {
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    /* IE10 */
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    /* IE10 */
}

.col_3>div {
    width: 33.33333%;
}

@media screen and (max-width: 960px) {
    .col_3>div {
        width: 100%;
    }
}

/*--------------------------------------------------------------
8.0 Elements 要素
--------------------------------------------------------------*/
/*------------------------------
8.1 Back to top button (vue.js)
------------------------------*/
[v-cloak] {
    display: none;
}

#pagetop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 0 4px 0px #555;
    transition: all 0.6s;
    text-align: center;
    color: #ffffff;
    background: #a9a9b1;
    z-index: 3;

    &.v-enter,
    &.v-leave-to {
        opacity: 0;
        bottom: 10px;
    }

    i {
        margin-top: 15px;
        font-size: 28px;
    }
}

/*------------------------------
8.2 要素をフェードイン + 上移動
------------------------------*/
.fadein {
    overflow: hidden;
}

.fadein .column {
    transition: 0.8s;
}

.fadein-mv09 {
    opacity: 0;
    transform: translate(0, 60px);
    -webkit-transform: translate(0, 60px);
}

.mv09 {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}