@import "sprite";
.icon {
  display: inline-block;
}
.icon_arrow {
  @include sprite($sprite-fb_out);
}

.test11{
	background-image: url(dist/images/sprite.png);
}

// ネストのテスト
div {
  p {
    font-weight: bold;
  }
}
// 変数のテスト
$fontColor: #525252;
$fontColor-h2: hsl(0, 76%, 52%);

h1 {
  color: $fontColor;
}
h2 {
  color: $fontColor-h2;
}
main {
  max-width: 1000px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  font-size: 1.5rem
}


@media screen and (max-width: 414px) {
	#area404 { 
		padding-top: 100px; 
		min-height: 525px;
	}
	#area404 h2{ 
		font-size: 25px;
		padding: 0 10px; 
	}

}
@media only screen and (max-width:414px){
	.point-frame{
		width: 100%; 
		float: none;
	}
	.point-description{
		width: 100%;
	}
}

@media screen and (max-width: 414px) {
	#area404 p{ 
		font-size: 16px;
	}
}

@media screen and (max-width: 375px) {
	#area404 { 
		padding-top: 100px;
		min-height: 450px;
	}
}

@media screen and (max-width: 320px) {
	#area404 { 
		min-height: 300px;
		margin-top: 90px; 
		padding-top: 50px;
	}
	#area404 h2{ 
		font-size: 20px;
		margin-bottom: 30px;
	}
	#area404 p{
		margin-bottom: 0;
	}
}

@media only screen and (max-width:768px){
	.principle .items_three{ 
		position: relative; 
		width: 100%; 
		min-height: 1px;
		padding: 0 0 15px;
	}
	.point-frame{ 
		width: 30%; 
		float: left;
	}
	.point-description{ 
		width: 70%;
		float: right;
		padding: 0;
	}
	h3.point-title{ 
		font-size: 18px; 
		text-align: center;
	}
}
@media only screen and (max-width:414px){
	.point-frame{
		width: 100%; 
		float: none;
	}
	.point-description{
		width: 100%;
	}
}


